<!-- ****************************** INICIO ****************************** -->

<div class="c-proyectos">
    <div class="tefo">
        <div class="te">
            <p class="h2">Proyectos</p>
            <button (click)="openModalCreate()" *ngIf="isLogged">
                <i class="bi bi-plus"></i></button>
        </div>

        <div>
            <button class="fo" (click)="order()">
                <p class="fecha">Fecha:</p>
                <i *ngIf="orderAsc" class="bi bi-sort-numeric-down"></i>
                <i *ngIf="!orderAsc" class="bi bi-sort-numeric-up-alt"></i>
            </button>
        </div>
    </div>

    <div class="contenedor">
        <div class="proyecto" [ngClass]="{'hysIsLogged' : isLogged}" *ngFor="let Proyectos of proyecto">
            <div>


                <div class="nc">
                    <div class="ne">
                        <p class="h3">{{Proyectos.nombre}}</p>
                        <div class="edicion" *ngIf="isLogged">
                            <button (click)="openModalEdit(Proyectos.id)">
                                <i class="bi bi-pencil-fill"></i></button>
                            <button (click)="openModalDelete(Proyectos.id)">
                                <i class="bi bi-trash-fill"></i></button>
                        </div>
                    </div>

                    <div class="cl">
                        <p class="creacionDefault">Creación: {{Proyectos.creacion | slice:5:7}}/{{Proyectos.creacion | slice:0:4}}
                        </p>
                        <a href="{{Proyectos.link}}" target="_blank" class="rounded-circle bi bi-github linkGitHub" role="button"></a>
                    </div>
                </div>

                <div>
                    <p class="lenguajes">{{Proyectos.lenguajes}}</p>
                    <p class="descripcion">{{Proyectos.descripcion}}</p>
                </div>
            </div>

            <div class="i">
                <img src="{{Proyectos.captura}}" class="imgProyecto img-fluid">
                <p class="creacionTop">Creación: {{Proyectos.creacion | slice:5:7}}/{{Proyectos.creacion | slice:0:4}}</p>
            </div>
        </div>
    </div>
</div>


<!-- ****************************** CREAR ****************************** -->

<div class="modal modal-dialog-centered" tabindex="-1" role="dialog" [ngStyle]="{'display':displayCreate}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form (ngSubmit)="onCreate()" #f="ngForm">

                <div class="modal-header border-0">
                    <p class="h3 modal-title">Crear</p>
                    <button type="button" class="btn-close" (click)="onCloseModalCreate()"></button>
                </div>

                <div class="modal-body py-0">
                    <div class="form-group">
                        <label for="captura">Captura</label>

                        <input type="file" class="form-control" id="capturaProC" name="captura" style="display: none;"
                            [ngClass]="!captura ? 'is-invalid' : ''" (change)="uploadImage($event)"
                            accept=".jpg, .jpeg, .png" required>

                        <div class="captura">
                            <img *ngIf="captura" [src]="previsualizacion" height="100">
                            <img *ngIf="!captura" src="../../../assets/capturaEmpty.png" height="100">

                            <div class="editImg">
                                <button type="button" onclick="document.getElementById('capturaProC').click()">
                                    <i class="bi bi-pencil-fill"></i></button>
                                <button *ngIf="captura" (click)="captura = false">
                                    <i class="bi bi-trash-fill"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" [ngClass]="!nombre ? 'is-invalid' : ''" maxlength="255"
                            id="nombreProC" name="nombre" [(ngModel)]="nombre" required>
                    </div>

                    <div class="form-group">
                        <label for="link">Link</label>
                        <input type="url" class="form-control" [ngClass]="!link ? 'is-invalid' : ''" maxlength="255"
                            id="linkProC" name="link" [(ngModel)]="link" required>
                    </div>

                    <div class="form-group">
                        <label for="creacion">Creación</label>
                        <input type="month" class="form-control"
                            [ngClass]="creacion && dateNow >= creacion && creacion > '1900-01' ? '' : 'is-invalid'"
                            id="creacionProC" name="creacion" min="1900-01" [max]="dateNow" [(ngModel)]="creacion"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="lenguajes">Lenguajes</label>
                        <input type="text" class="form-control" [ngClass]="!lenguajes ? 'is-invalid' : ''"
                            maxlength="255" id="lenguajesProC" name="lenguajes" [(ngModel)]="lenguajes" required>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea type="text" class="form-control" [ngClass]="!descripcion ? 'is-invalid' : ''"
                            maxlength="510" id="descripcionProC" name="descripcion" rows="4" [(ngModel)]="descripcion"
                            required></textarea>
                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="onCloseModalCreate()">Cancelar</button>
                    <button
                        [disabled]="!nombre || !link || creacion > dateNow || '1900-01' > creacion || !lenguajes || !descripcion"
                        type="submit" class="btn btn-primary">Confirmar</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- ****************************** EDITAR ****************************** -->

<div class="modal modal-dialog-centered" tabindex="-1" role="dialog" [ngStyle]="{'display':displayEdit}">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="proyectoE">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                <div class="modal-header border-0">
                    <p class="h3 modal-title">Editar</p>
                    <button type="button" class="btn-close" (click)="onCloseModalEdit()"></button>
                </div>

                <div class="modal-body py-0">
                    <div class="form-group">
                        <label for="captura">Captura</label>

                        <input type="file" class="form-control" id="capturaProE" name="captura" style="display: none;"
                            [ngClass]="!captura ? 'is-invalid' : ''" (change)="uploadImage($event)"
                            accept=".jpg, .jpeg, .png" required>

                        <div class="captura">
                            <img *ngIf="captura && !changeImg" [src]="proyectoE.captura" height="100">
                            <img *ngIf="!captura" src="../../../assets/capturaEmpty.png" height="100">
                            <img *ngIf="changeImg && captura" [src]="previsualizacion" height="100">

                            <div class="editImg">
                                <button type="button" onclick="document.getElementById('capturaProE').click()">
                                    <i class="bi bi-pencil-fill"></i></button>
                                <button *ngIf="captura" (click)="captura = false; changeImg = false;">
                                    <i class="bi bi-trash-fill"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" [ngClass]="!proyectoE.nombre ? 'is-invalid' : ''"
                            maxlength="255" id="nombreE" name="nombre" [(ngModel)]="proyectoE.nombre" required>
                    </div>

                    <div class="form-group">
                        <label for="link">Link</label>
                        <input type="url" class="form-control" [ngClass]="!proyectoE.link ? 'is-invalid' : ''"
                            maxlength="255" id="linkE" name="link" [(ngModel)]="proyectoE.link" required>
                    </div>

                    <div class="form-group">
                        <label for="creacion">Creación</label>
                        <input type="month" class="form-control"
                            [ngClass]="proyectoE.creacion && dateNow >= proyectoE.creacion && proyectoE.creacion > '1900-01' ? '' : 'is-invalid'"
                            id="creacionE" name="creacion" min="1900-01" [max]="dateNow"
                            [(ngModel)]="proyectoE.creacion" required>
                    </div>

                    <div class="form-group">
                        <label for="lenguajes">Lenguajes</label>
                        <input type="text" class="form-control" [ngClass]="!proyectoE.lenguajes ? 'is-invalid' : ''"
                            maxlength="255" id="lenguajesE" name="lenguajes" [(ngModel)]="proyectoE.lenguajes" required>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea type="text" class="form-control"
                            [ngClass]="!proyectoE.descripcion ? 'is-invalid' : ''" maxlength="510" id="descripcionE"
                            name="descripcion" rows="4" [(ngModel)]="proyectoE.descripcion" required></textarea>
                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="onCloseModalEdit()">Cancelar</button>
                    <button
                        [disabled]="!proyectoE.nombre || !proyectoE.link || proyectoE.creacion > dateNow || '1900-01' > proyectoE.creacion || !proyectoE.lenguajes || !proyectoE.descripcion"
                        type="submit" class="btn btn-primary">Confirmar</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- ****************************** ELIMINAR ****************************** -->

<div class="modal modal-dialog-centered" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDelete}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <p class="h3 modal-title">Eliminar</p>
                <button type="button" class="btn-close" (click)="onCloseModalDelete()"></button>
            </div>

            <div class="modal-body py-0">
                <p>¿Desea eliminar el registro?</p>
            </div>

            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="onCloseModalDelete()">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="onDelete()">Confirmar</button>
            </div>
        </div>
    </div>
</div>