<nav class="navbar navbar-expand-lg navbar-dark bg-custom p-3">
    <div class="container-fluid">
        <img src="../../../assets/APLogo.png" id="logoAP">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <div class="d-flex">
                <li class="nav-item mt-2 mt-lg-0 me-lg-1">
                    <a class="d-flex" href="https://github.com/kntevez/" target="_blank">
                        <img
                            src="../../../assets/github.png" id="github" class="mx-lg-0 mx-3">
                    </a>
                </li>
                <li class="nav-item mt-2 mt-lg-0 me-lg-1">
                    <a class="d-flex" href="https://www.instagram.com/tevezkevin/" target="_blank">
                        <img
                            src="../../../assets/instagram.png" id="instagram" class="mx-lg-0 mx-3">
                    </a>
                </li>
                <li class="nav-item mt-2 mt-lg-0 me-lg-1">
                    <a class="d-flex" href="https://www.linkedin.com/in/kevin-tevez/" target="_blank">
                        <img
                            src="../../../assets/linkedin.png" id="linkedin" class="mx-lg-0 mx-3">
                    </a>
                </li>
            </div>
                <li class="nav-item mt-3 mt-lg-0 ms-lg-2">
                    <button type="button" class="btn btn-light rounded-pill ct-custom" (click)="openModalLoggin()"
                        *ngIf="!isLogged"><b>INICIAR
                            SESIÓN</b></button>
                    <button type="button" class="btn btn-light rounded-pill ct-custom" (click)="onLogOut()"
                        *ngIf="isLogged"><b>CERRAR
                            SESIÓN</b></button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal modal-dialog-centered" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form (ngSubmit)="onLogin()" novalidate #f="ngForm">

                <div class="modal-header border-0">
                    <p class="h3 modal-title">Iniciar sesión</p>
                    <button type="button" class="btn-close" (click)="onCloseModalLoggin()"></button>
                </div>

                <div class="modal-body py-0">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" id="username" name="username" class="form-control"
                            [ngClass]="!username ? 'is-invalid' : ''" [(ngModel)]="username" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" class="form-control"
                            [ngClass]="!password ? 'is-invalid' : ''" [(ngModel)]="password" required>
                    </div>

                    <div *ngIf="isLogginFail" class="alert-danger text-center align-items-center p-1" id="logginFail">
                        Usuario y/o contraseña incorrectos
                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="onCloseModalLoggin()">Cancelar</button>
                    <button [disabled]="!username || !password" id="Ingresar" class="btn btn-primary"
                        type="submit">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>